// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
  
html {
  font-family: sans-serif;
  line-height: 1.15;
}
  
body {
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
  font-weight: 400;
}
  
nav {
  background-color: #55C501 !important;
  #Navber {
  .navbar-nav {
  .nav-item {
  // 投稿するボタンの背景を深緑にする
  #post-link {
      background-color: #367E00;
      border-radius: 5px;
      padding-left: 1rem;
      padding-right: 1rem;
  }
  }
  }
  }
}

h1{
  text-align: center;
}

table{
	text-align: center;
}

h3, .h3 {
  text-align: center;
}

.information{
  padding-left: 100px;          /* 左側に空白を調整する */
  font-size: 20px;
}

.information-detail{
  padding-left: 130px;          /* 左側に空白を調整する */
  font-size: 20px;
}

dl{
  width:auto;
 }
 dt{
  border-bottom:1px solid #ccc;
   float:left;
   padding:10px 5px;
 }
 dd{
  border-bottom:1px solid #ccc;
   margin-left:100px;
   padding:10px 5px;
 }
.new{
  background-color:red;
  border-radius:5px;
  color:#fff;
  margin:0 20px;
  padding:5px 15px;
  text-decoration:none;
}

table {
  text-align: center;
}

.textlines {
  border: 2px solid #0a0;  /* 枠線 */
  border-radius: 0.67em;   /* 角丸 */
  background-color: snow;  /* 背景色 */
  width: 100%;             /* 横幅いっぱいにする */
  box-sizing: border-box;  /* ※これがないと横にはみ出る */
  height: 50px;           /* 高さ */
  font-size: 1em;          /* 文字サイズ */
  line-height: 1.2px;        /* 行の高さ */
}

.block{
  text-align: center;
  margin: auto; 
}

.table-hover {
  counter-reset: rowCount;
}

.table-hover > .task > tr {
  counter-increment: rowCount;
}

.table-hover > .task > tr > td:first-child::before {
  content: counter(rowCount);
}

.successd{
  background-color: rgb(252, 195, 195);
}

.excess{
  background-color: rgb(247, 255, 99);
}

.deadline{
  background-color: rgb(147, 221, 255);
}


